@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 16 90% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 24 95% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 24 40% 95%;
    --muted-foreground: 15 16.3% 46.9%;

    --accent: 14 95% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 20 20% 90%;
    --input: 20 20% 90%;
    --ring: 16 90% 48%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 14 95% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 20 80% 35%;
    --secondary-foreground: 0 0% 98%;

    --muted: 20 50% 20%;
    --muted-foreground: 20 20.2% 65.1%;

    --accent: 16 90% 52%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 20 32.6% 17.5%;
    --input: 20 32.6% 17.5%;
    --ring: 14 95% 58%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}